# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# local sonarqube scan artifacts
/.scannerwork/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# output 
dependencies_from_source.json
exactMatches_from_source.json
dependencies_with_licenses.json
